kneed==0.8.2
matplotlib==3.6.2
numpy==1.22.4
pandas==1.4.2
python_Levenshtein==0.20.9
regex==2022.4.24
scikeras==0.10.0
scikit_learn==1.2.0
seaborn==0.11.2
tensorflow==2.11.0
tqdm==4.64.1
xgboost==1.7.2
